.contact {
  display: grid;
  gap: 50px; /* Espaço entre os elementos principais */
  grid-template-columns: 1fr; /* Padrão para dispositivos menores */
  justify-items: center;
  align-items: center;
}

.info-machine {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr; /* Divisão em duas colunas */
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.info-machine img {
  max-width: 100%;
  height: auto; /* Mantém as proporções da imagem */
}

.info-machine .txt {
  display: grid;
  gap: 8px;
  text-align: center; /* Centraliza o texto */
  max-width: 500px; /* Limita a largura máxima */
}

.info-machine .txt h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

.info-machine .txt p,
.info-machine .txt span {
  font-size: 1rem;
}

.contact > div:last-child img {
  max-width: 100%;
  height: auto;
}



/* Responsividade */
@media (max-width: 768px) {
  .contact {
    gap: 30px;
  }

  .info-machine {
    grid-template-columns: 1fr; /* Empilha os elementos verticalmente */
  }

  .info-machine .txt h2 {
    font-size: 1.25rem; /* Ajusta o tamanho do texto */
  }

  .info-machine .txt p,
  .info-machine .txt span {
    font-size: 0.9rem;
  }

  .contact > div:last-child img {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .contact {
    gap: 50px; /* Reduz o espaço entre os elementos */
  }

  .info-machine .txt h2 {
    font-size: 1rem;
  }

  .info-machine .txt p,
  .info-machine .txt span {
    font-size: 0.8rem;
  }
}



.info-worker {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr; /* Divisão em duas colunas */
  align-items: center;
  justify-content: center;
}

.info-worker img {
  max-width: 100%;
  height: auto; /* Mantém as proporções da imagem */
}

.info-worker .txt {
  display: grid;
  gap: 8px;
  text-align: center; /* Centraliza o texto */
  max-width: 500px; /* Limita a largura máxima */
}

.info-worker .txt h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

.info-worker .txt p,
.info-worker .txt span {
  font-size: 1rem;
}

.contact > div:last-child img {
  max-width: 100%;
  height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
  .contact {
    gap: 30px;
  }

  .info-worker {
    grid-template-columns: 1fr; /* Empilha os elementos verticalmente */
  }

  .info-worker .txt h2 {
    font-size: 1.25rem; /* Ajusta o tamanho do texto */
  }

  .info-worker .txt p,
  .info-worker .txt span {
    font-size: 0.9rem;
  }

  .contact > div:last-child img {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .contact {
    gap: 20px; /* Reduz o espaço entre os elementos */
  }

  .info-worker .txt h2 {
    font-size: 1rem;
  }

  .info-worker .txt p,
  .info-worker .txt span {
    font-size: 0.8rem;
  }
}
